@font-face{
  font-family: "abyssopelagic";
  src: url("abyssopelagic.otf"); /* IE9 Compat Modes */
  src: url("abyssopelagic.otf?#iefix") format("embedded-opentype"), /* IE-IE */
       url("abyssopelagic.otf") format("opentype"), /* Super Modern Browsers */
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	line-height: 1 ;
}

li,ol,ul{
	list-style:none
}

.loader-hidden, .mobile, .main, .infos, .page{
	width: 100vw;
    height: 100vh;
} 
.no-scroll{
	overflow: hidden;
}

/*navbar*/
.nav-fixed{
	position: fixed;
	z-index: 998;
	width: 100%;
}
.nav-fixed > nav > .nav-wrapper > a{
	margin-left: 15px;
	font-size: 3rem;
}

.btn-info{
	border: 2px solid white;
    border-radius: 3px;
	padding-bottom: 0.8rem;
	background-color: rgba(255,255,255,0.1) !important;
}

.perfil{
	background-image: url("../img/yo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
  	overflow: hidden;	
}

.description{
	line-height: 2 !important;
}
.cnt-info{
	margin-top: 110px;
}
#close{
	position: absolute;
    right: 50px;
	border-radius: 3px;
}
#close:hover{
	transform: rotate(100deg);
}
.hvr-sweep-to-right:before {
  background: #93AEB0;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.nav-fixed > nav{
	background-color: rgba(0,0,0,0.1);
}

/*navslider*/
.nav-slider{
	position: fixed;
	z-index: 998;
	display: table-cell;
	top: 16vh;
	right: 0;
}
.nav-slider > .celda{
	/*display: table-cell;*/
	text-decoration: none;
	width: 15px;
	height: 100px;
	text-decoration: none;
    margin-bottom: 20px;
    border:2px;
    position: relative;
}

.show{
 	background-color: black;
	width: 250px;
	height: 100px;
	position: absolute;
	right: -232px;
	-webkit-transition: right 1s;
	transition: right 1s;
}

.show:hover{
 	background-color: black;
	width: 250px;
	height: 100px;
	position: absolute;
	right: 0;
}

#border-left-color1, #border-left-color2, #border-left-color3, #border-left-color4{
	border-left: 18px solid #F56F6C;	
}

#border-left-color1.show:hover{
	border-left: 18px solid #3d878e;
}

#border-left-color2.show:hover{
	border-left: 18px solid #7cc2fd;		
}

#border-left-color3.show:hover{
	border-left: 18px solid rgb(39, 143, 195);	
}

#border-left-color4.show:hover{
	border-left: 18px solid #3e617e;	
}

.nav-slider > .celda > div > a{
	text-decoration: none;
	font-size: 24px;
}

.celda1 a{
	color: #3d878e;	
}

.celda2 a{
	color: #7cc2fd;
}

.celda3 a{
	color: rgb(39, 143, 195);
}

.celda4 a{
	color: #3e617e;
}

.txt-gif{
	position: absolute;
	top: 30%;
	left: 25%;
}
.gif{
	width: 100%;
	height: 100%;
}

.slide-push{
	height: 100%;
	width: 100%;
}
/*slide-home*/
.home{
	height: 100vh;
    width: 100vw;
}
#slide-home{
	position: absolute;
	z-index: 100;
	top: 0;
}
.container-height{
	height: 90%;
}
.row-main-txt{
    height: 39vh;
}
.title-main{
	font-size: 7.5rem;
	font-weight: bold;
	display: none;
}

	/*animacion*/

#title-description1{
	display: none;
}
#content-scroll{
	display: none;
}

#scroll-drow1{
	transition: all .5s ease-in-out;
}

#scroll-drow1:hover{
	transform:rotateY(180deg);
}

/*info*/
.js-info-left{
    background-color: white;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 0vw;
    top: 0;
    left: -700px; 
    -webkit-transition: left 2s;
	transition: left 2s;
}

.js-info-left-click{
    background-color: white;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 50vw;
    top: 0;
    left: 0; /*0*/
	-webkit-transition: left 2s;
	transition: left 2s;
}

.js-info-right{
    background-color: black;
    position: absolute;
    z-index: 999;
	height: 0;
	width: 0;  
    top: 0;	
    right: 0;
    overflow: hidden;
	-webkit-transition: width  2s;
	transition: width  2s; 
}

.js-info-right-click{
    background-color: black;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 50vw;  /*50vw*/
    top: 0;	
    right: 0;
    overflow: hidden;
	-webkit-transition: width  2s;
	transition: width  2s;
}

/*slide-portfile*/
.container-portfile{
	margin: 0 auto;
  	max-width: 1280px;
  	width: 90%;
}
#slide-portfile{
	position: absolute;
	top: 0;
	z-index: 90;
	height: 100vh;
}
.slide-push-portfile{
	height: auto;
    width: 100%;
}
.padding-portfile{
	padding-top: 46px;
}
#scroll-drow2{
	transition: all .5s ease-in-out;	
}
#scroll-drow2:hover{
	transform:rotateY(180deg);	
}

/*item portfile*/
.page{
    position: absolute;
    z-index: 1000;
    top: 0;
    background-color: black;
    overflow-y: scroll;
}
.portfile-html{
	position: absolute;
	z-index: 80;
	top: 0;
	background-color: black;
}

/*slide-skills*/
#slide-skills{
	position: absolute;
	top: 0;
	z-index: 80;
	background-color: black;
	height: 100vh;
  	/*overflow: overlay;*/
  	padding-top: 3%;	
}
.row-herramientas{
	position: relative;
    left: 76px;
}
#scroll-drow3{
	transition: all .5s ease-in-out;
}
#scroll-drow3:hover{
	transform:rotateY(180deg);	
}

/*slide-contact*/
#slide-contact{
	position: absolute;
	top: 0;
	z-index: 70;
	background-color: #4e5e6b;
	height: 100vh;
  	/*overflow: overlay;	*/
}

.txt-contact{
	line-height: 1.5;
}

/*loader*/
.loader-init{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: black;
	opacity: 1;
	z-index: 1000;
}
#progressInit{
	margin: auto;
    display: block;
    top: 50%;
}
#progressInitTexto{
    padding-top: 4.5rem;
    color: rgba(255,255,255,.9);
    font-size: 1.28571429em;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 50%;
    width: 100%;
}

/*Media Queries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.nav-slider {
    position: fixed;
    z-index: 998;
    display: table-cell;
    top: 37vh;
    right: 0;
	}

	.col-txt-main{
		margin-top: 6rem;
	}
	.row-main-txt {
		height: 39vh;
		margin-top: 40rem;
	}
	.content-scroll > span{
		font-size: 2rem;
	}
	.content-scroll > a > i{
		font-size: 3rem;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	.nav-slider {
    position: fixed;
    z-index: 998;
    display: table-cell;
    top: 37vh;
    right: 0;
	}

	.col-txt-main{
		margin-top: 6rem;
	}
	.row-main-txt {
		height: 39vh;
		margin-top: 36rem;
	}
	.content-scroll > span{
		font-size: 2rem;
	}
	.content-scroll > a > i{
		font-size: 3rem;
	}
}


