*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	line-height: 1 ;
}

li,ol,ul{
	list-style:none
}

.loader-hidden, .mobile, .main, .infos, .page{
	width: 100vw;
    height: 100vh;
} 
.no-scroll{
	overflow: hidden;
}

/*navbar*/
.nav-fixed{
	position: fixed;
	z-index: 998;
	width: 100%;
}
.nav-fixed > nav > .nav-wrapper > a{
	margin-left: 15px;
	font-size: 3rem;
}

.btn-info{
	padding-bottom: 0.8rem;
	background-color: rgba(255,255,255,0.1) !important;
}

.hvr-sweep-to-right:before {
  background: #fff;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}

.nav-fixed > nav{
	background-color: rgba(0,0,0,0.1);
}

/*navslider*/
.nav-slider{
	position: fixed;
	z-index: 998;
	display: table-cell;
	top: 16vh;
	right: 0;
}
.nav-slider > .celda{
	/*display: table-cell;*/
	text-decoration: none;
	width: 15px;
	height: 100px;
	text-decoration: none;
    margin-bottom: 20px;
    border:2px;
    position: relative;
}

.show{
 	background-color: black;
	width: 250px;
	height: 100px;
	position: absolute;
	right: -232px;
	-webkit-transition: right 1s;
	transition: right 1s;
}

.show:hover{
 	background-color: black;
	width: 250px;
	height: 100px;
	position: absolute;
	right: 0;
}

#border-left-color1, #border-left-color2, #border-left-color3, #border-left-color4{
	border-left: 18px solid #434343;	
}

#border-left-color1.show:hover{
	border-left: 18px solid #7af0dc;
}

#border-left-color2.show:hover{
	border-left: 18px solid #7cc2fd;		
}

#border-left-color3.show:hover{
	border-left: 18px solid #fcb77b;	
}

#border-left-color4.show:hover{
	border-left: 18px solid #fb959e;	
}

.nav-slider > .celda > div > a{
	text-decoration: none;
	font-size: 24px;
}

.celda1 a{
	color: #7af0dc;	
}

.celda2 a{
	color: #7cc2fd;
}

.celda3 a{
	color: #fcb77b;
}

.celda4 a{
	color: #fb959e;
}

.txt-gif{
	position: absolute;
	top: 38%;
    left: 9%;
}
.gif{
	width: 100%;
	height: 100%;
}

.slide-push{
	height: 100%;
	width: 100%;
}
/*slide-home*/
#slide-home{
	position: absolute;
	z-index: 20;
	top: 0;
}
.title-main{
	font-size: 6.5rem;
	font-weight: bold;
}
.title-center{
	color: #4BE88A;
}
	/*animacion*/
#title-new{
	transition: all .5s ease-in-out;
}

#title-new:hover{
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3); /* Standard syntax */	
}
#title-new.ishover{
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3); /* Standard syntax */		
}

#title-design{
	transition: all .5s ease-in-out;
}

#title-design:hover{
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5); /* Standard syntax */
}
#title-design.ishover{
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#title-life{
	transition: all .5s ease-in-out;
}

#title-life:hover{
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3); /* Standard syntax */	
}

#title-life.ishover{
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3); /* Standard syntax */	
}

#title-description{
	transition: all .5s ease-in-out;
}
#title-description:hover{
    transform:rotateY(180deg);
}

#scroll-drow1{
	transition: all .5s ease-in-out;
}

#scroll-drow1:hover{
	transform:rotateY(180deg);
}

/*info*/
.js-info-left{
    background-color: white;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 0vw;
    top: 0;
    left: -700px; 
    -webkit-transition: left 2s;
	transition: left 2s;
}

.js-info-left-click{
    background-color: white;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 50vw;
    top: 0;
    left: 0; /*0*/
	-webkit-transition: left 2s;
	transition: left 2s;
}

.js-info-right{
    background-color: black;
    position: absolute;
    z-index: 999;
	height: 0;
	width: 0;  
    top: 0;	
    right: 0;
    overflow: hidden;
	-webkit-transition: width  2s;
	transition: width  2s; 
}

.js-info-right-click{
    background-color: black;
    position: absolute;
    z-index: 999;
	height: 100vh;
	width: 50vw;  /*50vw*/
    top: 0;	
    right: 0;
    overflow: hidden;
	-webkit-transition: width  2s;
	transition: width  2s;
}

/*slide-portfile*/
#slide-portfile{
	position: absolute;
	top: 0;
	z-index: 3;
	background-image: url("../img/fondo_principal.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
  	overflow: overlay;
}
.slide-push-portfile{
	height: auto;
    width: 100%;
}
#scroll-drow2{
	transition: all .5s ease-in-out;	
}
#scroll-drow2:hover{
	transform:rotateY(180deg);	
}

/*item portfile*/
.page{
    position: absolute;
    z-index: 1000;
    top: 0;
    background-color: black;
    overflow-y: scroll;
}
.portfile-html{
	position: absolute;
	z-index: 80;
	top: 0;
	background-color: black;
}

/*slide-skills*/
#slide-skills{
	position: absolute;
	top: 0;
	z-index: 5;
	background-color: black;
	height: 100vh;
  	overflow: overlay;	
}
.row-herramientas{
	position: relative;
    left: 76px;
}
#scroll-drow3{
	transition: all .5s ease-in-out;
}
#scroll-drow3:hover{
	transform:rotateY(180deg);	
}

/*slide-contact*/
#slide-contact{
	position: absolute;
	top: 0;
	z-index: 10;
	background-color: black;
	height: 100vh;
  	overflow: overlay;	
}
.wrapper{
    height: 79%;
    border: 30px solid #fff;
    background: #dadada;
    font-size: 1.313rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    border-radius: 10px;
}