.color-white{
	color: #FEFDFC;
}

.color-pink{
  color: #F56F6C;
}
.icons-information {
  color: black !important;
  font-size: 2rem;
}
.display-block{
  display: block;
}
.font-abyssopelagic{
  font-family: "abyssopelagic";
}
.font-weight-bold{
  font-weight: bold;
}
.sin-margin-bottom{
  margin-bottom:0;
}
.font-size-13{
  font-size: 13.5px;
}

.margin-top-20px{
	margin-top: 20px;
}
.margin-top-55{
    margin-top: 9rem;
}
.margin-left-2{
  margin-left: 2rem !important;
}
.margin-right-2{
  margin-right: 2rem !important;
}
.padding-10{
	padding-top: 10%;
}
.padding-3{
	padding-top: 3%;
}
.hidden{
	display: none;
}

.height-32{
  height: 32px;
}
.height-100-px{
  height: 90px;
}
.font-size-32{
    font-size: 22px !important;  
}
.tabs-sinbg{
    background-color: rgba(255, 255, 255, 0.01);
}
.margin-left-25{
    margin-left: 12% !important;
}
.margin-left-41{
  margin-left: 41%
}
.row-margin-botom-0{
  margin-bottom: 0;
}
.right-menu{
    position: absolute;
    right: 30px;
    top: 0;
}
/* Image Pulse */
@-webkit-keyframes hvr-img-pulse {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes hvr-img-pulse {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.hvr-img-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}


.hvr-img-pulse:hover, .hvr-img-pulse:focus, .hvr-img-pulse:active {
  -webkit-animation-name: hvr-img-pulse;
  animation-name: hvr-img-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Image Wobble Vertical */
@-webkit-keyframes hvr-img-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes  hvr-img-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-img-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-img-wobble-vertical:hover, .hvr-img-wobble-vertical:focus, .hvr-img-wobble-vertical:active {
  -webkit-animation-name:hvr-img-wobble-vertical;
  animation-name: hvr-img-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.width-img-contact{
	width: 15% !important;
}

/*
.cnt-img{
	margin-left: 31% !important;
	margin-top: 4%;
}*/

/* Image Spin */
.hvr-img-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}
.hvr-img-spin:hover, .hvr-img-spin:focus, .hvr-img-spin:active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Image Buzz */
@-webkit-keyframes hvr-img-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-img-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-img-buzz{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-img-buzz:hover, .hvr-img-buzz:focus, .hvr-img-buzz:active {
  -webkit-animation-name: hvr-img-buzz;
  animation-name: hvr-img-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*airplane*/

@-webkit-keyframes hvr-icono-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icono-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icono-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icono-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hvr-icono-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.hvr-icono-bob:hover, .hvr-icono-bob:focus, .hvr-icono-bob:active {
  -webkit-animation-name: hvr-icono-bob-float, hvr-icono-bob;
  animation-name: hvr-icono-bob-float, hvr-icono-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/* Icon pool */
.hvr-icono-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icono-forward:hover, .hvr-icono-forward:focus, .hvr-icono-forward:active {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Icon camera */
@-webkit-keyframes hvr-icono-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes  hvr-icono-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Icon Down */
.hvr-icono-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-icono-down:hover, .hvr-icono-down:focus, .hvr-icono-down:active {
  -webkit-animation-name:  hvr-icono-down;
  animation-name: hvr-icono-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/*audiotrack*/
/* Icon Push */
@-webkit-keyframes hvr-icono-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icono-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icono-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icono-push:hover, .hvr-icono-push:focus, .hvr-icono-push:active {
  -webkit-animation-name: hvr-icono-push;
  animation-name: hvr-icono-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
